@model CoreAndFood.Data.Models.Category
@{
    ViewData["Title"] = "CategoryGet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
@using (Html.BeginForm("CategoryUpdate", "Category", FormMethod.Post))
{
    <b>Category ID</b>
    @Html.TextBoxFor(x => x.CategoryID, new { @class = "form-control", @readonly = "readonly"})
    <br />
    <b>Category Adı</b>
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    <br />
    <b>Category Description</b>
    @Html.TextBoxFor(x => x.CategoryDescription, new { @class = "form-control" })
    <br />
    <b>Category Status</b>
    @Html.TextBoxFor(x => x.Status, new { @class = "form-control" })
    <br />
    <button class="btn btn-warning" >Update</button>
}
